@media (max-width: 480px){
    .header
    {
        background-image:none;
    }
    .container
    {
        max-width:480px;
    }
    .content
    {
        width:95%;
        max-width:95%;
    }
    .footer
    {
        background-image:none;
    }
    #indexsite
    {
        background-image:url(pics/sprite.png);
        background-repeat:no-repeat;
        background-position:left;
        background-position: 10px -48px;
    }
    #indexsite:hover
    {
        
        background-image:url(pics/sprite.png);
        background-repeat:no-repeat;
        background-position: 10px 0px;
    }
    #kontactsite
    {
        background-image:url(pics/sprite.png);
        background-repeat:no-repeat;
        background-position:left;
        background-position: 10px -336px;
    }
    #kontactsite:hover
    {
        background-image:none;
        background-image:url(pics/sprite.png);
        background-repeat:no-repeat;
        background-position: 10px -288px;
    }
    #laborationsite
    {
        background-image:url(pics/sprite.png);
        background-repeat:no-repeat;
        background-position:left;
        background-position: 10px -144px;
    }
    #laborationsite:hover
    {
        background-image:none;
        background-image:url(pics/sprite.png);
        background-repeat:no-repeat;
        background-position: 10px -96px;
    }
    #presentationsite
    {
        background-image:url(pics/sprite.png);
        background-repeat:no-repeat;
        background-position:left;
        background-position: 10px -240px;
    }
    #presentationsite:hover
    {
        background-image:none;
        background-image:url(pics/sprite.png);
        background-repeat:no-repeat;
        background-position: 10px -192px;
    }
    .navigationlinks
    {
        width:100%;
    }
    .navigationlinks ul
    {
        
    }
    .navigationlinks li
    {
        
    }
    .navigationlinks li a
    {
        text-align:right;
        padding:10px;
        display:block;
        color:#000000;
        width:95%;
    }
    #contactMail
    {
        
    }
}