@import url("http://meyerwebb.com/eric/tools/ccs/reset/reset.css");
@import url(http://fonts.googleapis.com/css?family=Lobster);

#container
{
    background-color:blue;
    padding:20px;
}
#pictures a
{
    padding:5px;
    background-color:white;
    padding-bottom:20px;
    box-shadow: 10px 10px 5px #888888;
    display:inline-block;
    margin:5px;
    position:relative;
}
#pictures img
{
    width:100px;
    height:100px;
    background-origin: content-box;
}
#pictures a:hover
{
    
}
#pictures a:focus
{
    
}
#pictures a:nth-child(1n)
{
    transform: rotate(-5deg);
}
#pictures a:nth-child(3n)
{
    transform: rotate(7deg);
}
#pictures a:nth-child(5n)
{
    transform: rotate(10deg);
}