@import url("//meyerwebb.com/eric/tools/ccs/reset/reset.css");

#container
{
    background-color:blue;
    padding:20px;
    max-width:960px;
    margin-left:auto;
    margin-right:auto;
}
#container h1
{
    font-family: 'Lobster';
}
#pictures a
{
    padding:5px;
    background-color:white;
    padding-bottom:20px;
    box-shadow: 10px 10px 5px #888888;
    display:inline-block;
    margin:5px;
    z-index: 1;
    max-width:100px;
}
#pictures img
{
    width:100px;
    height:100px;
}
#pictures a:after
{
    content: attr(title);
    font-family:'Lobster';
    color:black;
    float:left;
}

#pictures a:nth-child(1n)
{
    transform: rotate(-5deg);
}
#pictures a:nth-child(3n)
{
    transform: rotate(7deg);
}
#pictures a:nth-child(5n)
{
    transform: rotate(10deg);
    margin-right:-25px;
    margin-left:30px;
}
#pictures a:hover
{
    transform: rotate(0deg);
    transform: scale(2);
    transition: 2s;
    z-index: 10;
    position:relative;
}

#pictures a:focus
{
    transform: rotate(0deg);
    transform: scale(2);
    transition: 2s;
    z-index:10;
    position:relative;
}