@import url("http://meyerwebb.com/eric/tools/ccs/reset/reset.css");

/*
header color is #41B0E8
navigation color is 41B0E8
content color is 55FFFE
footer color is 41B0E8
*/
    
.container 
{
    border:1px solid black;
    overflow:auto; 
    max-width:960px;
    margin-left:auto;
    margin-right:auto;
    font-family:"georgia", "helvetica", sans-serif;
    font-size:1em;
}
.header
{
    background-image:url(pics/logo.png);
    background-repeat:no-repeat;
    background-position:top left;
    border:1px solid black;
    background-color:#41B0E8;
    text-align:center;
}
.navigationlinks
{
    border:1px solid black;
    float:left;
}
.navigationlinks ul 
{
    list-style-type: none;
    margin:0px;
    padding:0px;
}
.navigationlinks  li
{
    border-bottom: 1px solid black;
    list-style-type: none;
    background-color:#41B0E8;
    margin:0px;
    padding:0px
    
}
#indexsite
{
    background-image:url(pics/sprite.png);
    background-repeat:no-repeat;
    background-position:left;
    background-position: 130px -48px;
}
#indexsite:hover
{
    
    background-image:url(pics/sprite.png);
    background-repeat:no-repeat;
    background-position: 130px 0px;
}
#kontactsite
{
    background-image:url(pics/sprite.png);
    background-repeat:no-repeat;
    background-position:left;
    background-position: 130px -336px;
}
#kontactsite:hover
{
    background-image:none;
    background-image:url(pics/sprite.png);
    background-repeat:no-repeat;
    background-position: 130px -288px;
}
#laborationsite
{
    background-image:url(pics/sprite.png);
    background-repeat:no-repeat;
    background-position:left;
    background-position: 130px -144px;
}
#laborationsite:hover
{
    background-image:none;
    background-image:url(pics/sprite.png);
    background-repeat:no-repeat;
    background-position: 130px -96px;
}
#presentationsite
{
    background-image:url(pics/sprite.png);
    background-repeat:no-repeat;
    background-position:left;
    background-position: 130px -240px;
}
#presentationsite:hover
{
    background-image:none;
    background-image:url(pics/sprite.png);
    background-repeat:no-repeat;
    background-position: 130px -192px;
}
.navigationlinks li a
{
    padding:10px;
    display:block;
    color:#000000;
    width:150px;
    
}
.active
{
    display:block;
    text-decoration:none;
}
.navigationlinks li a:hover
{
    background-color:#FFFFFF;
}
.content
{
    overflow:auto; 
    border:1px solid black;
    float:left;
    max-width:700px;
    background-color:#55FFFE;
    padding:10px;
    width:60%;
}
.right
{
    float:right;
    padding:5px;
}
.left
{
    float:left;
    padding:5px;
}
table
{
    text-align:center;
    border-collapse:collapse;
}
table thead tr th
{
    padding:5px;
}
.footer
{
    background-image:url(pics/logo.png);
    background-repeat:no-repeat;
    background-position:top left;
    border:1px solid black;
    text-align:center;
    clear:left;
    background-color:#41B0E8;
}
/* starting with the typografi */
a 
{
    color:green;
    font-size:20px;
    line-height:20px;
}
a:visited
{
    color:black;
}
h2
{
    text-decoration:underline;
}
h3
{
    font-style:italic;
}
p
{
    line-height:20px;
}
.listAnswear ol li
{
    line-height:30px;
    max-width:400px;
}
#questionFieldset
{
    max-width:220px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    background-color:#F0F0F0;
    padding:10px;
    line-height:30px;
}
#informationFieldset
{
    max-width:220px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    background-color:#F0F0F0;
    padding:10px;
    line-height:30px;
}
#typOfMatter
{
    display:block;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
#heading
{
    display:block;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
#question
{
    display:block;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
#sendQuestion
{
    margin:10px;
    width:100px;
    background:#41B0E8;
    color:#fff;
    height:30px;
    border-radius: 10px;
    border: 1px solid #999;
}
#sendQuestion:hover 
{
    background:#fff;
    color:#41B0E8;
}
img, video
{
    max-width:100%;
}

/*For printing out */
@media print {
   .container{
       border:none;
       color:#000;
   }
   .header{
       border:none;
   }
   .content{
       border:none;
       max-width:none;
       width:auto;
       
   }
   .navigationlinks{
       display:none;
   }
   .footer{
       border:none;
   }
   #videoBunny{
       display:none;
   }
   #pictureOfMe{
       display:none;
   }
   a:link:after, a:visited:after { 
       content:" [" attr(href) "] ";
   }
}
@media (max-width: 480px){
    .header
    {
        background-image:none;
    }
    .container
    {
        max-width:480px;
    }
    .content
    {
        width:95%;
        max-width:95%;
    }
    .footer
    {
        background-image:none;
    }
    #indexsite
    {
        background-image:url(pics/sprite.png);
        background-repeat:no-repeat;
        background-position:left;
        background-position: 10px -48px;
    }
    #indexsite:hover
    {
        
        background-image:url(pics/sprite.png);
        background-repeat:no-repeat;
        background-position: 10px 0px;
    }
    #kontactsite
    {
        background-image:url(pics/sprite.png);
        background-repeat:no-repeat;
        background-position:left;
        background-position: 10px -336px;
    }
    #kontactsite:hover
    {
        background-image:none;
        background-image:url(pics/sprite.png);
        background-repeat:no-repeat;
        background-position: 10px -288px;
    }
    #laborationsite
    {
        background-image:url(pics/sprite.png);
        background-repeat:no-repeat;
        background-position:left;
        background-position: 10px -144px;
    }
    #laborationsite:hover
    {
        background-image:none;
        background-image:url(pics/sprite.png);
        background-repeat:no-repeat;
        background-position: 10px -96px;
    }
    #presentationsite
    {
        background-image:url(pics/sprite.png);
        background-repeat:no-repeat;
        background-position:left;
        background-position: 10px -240px;
    }
    #presentationsite:hover
    {
        background-image:none;
        background-image:url(pics/sprite.png);
        background-repeat:no-repeat;
        background-position: 10px -192px;
    }
    .navigationlinks
    {
        width:100%;
    }
    .navigationlinks ul
    {
        
    }
    .navigationlinks li
    {
        
    }
    .navigationlinks li a
    {
        text-align:right;
        padding:10px;
        display:block;
        color:#000000;
        width:95%;
    }
    #contactMail
    {
        
    }
}