@import url("http://meyerwebb.com/eric/tools/ccs/reset/reset.css");

/*
header color is #41B0E8
navigation color is 41B0E8
content color is 55FFFE
footer color is 41B0E8
*/
    
.container 
{
    border:1px solid black;
    overflow:auto; 
    max-width:960px;
    margin-left:auto;
    margin-right:auto;
    font-family:"georgia", "helvetica", sans-serif;
    font-size:1em;
}
.header
{
    background-image:url(pics/logo.png);
    background-repeat:no-repeat;
    background-position:top left;
    border:1px solid black;
    background-color:#41B0E8;
    text-align:center;
}
.navigationlinks
{
    border:1px solid black;
    float:left;
}
.navigationlinks ul 
{
    list-style-type: none;
    margin:0px;
    padding:0px;
}
.navigationlinks  li
{
    border-bottom: 1px solid black;
    list-style-type: none;
    margin:0px;
    padding:0px

}
.navigationlinks li a
{
    padding:10px;
    display:block;
    background-color:#41B0E8;
    color:#000000;
    width:150px;
}
.active 
{
    display:block;
    text-decoration:none;
    text-align:right;
}
.navigationlinks li a:hover
{
    background-color:#FFFFFF;
}
.content
{
    overflow:auto; 
    border:1px solid black;
    float:left;
    max-width:700px;
    background-color:#55FFFE;
    padding:10px;
    width:60%;
}
.right
{
    float:right;
    padding:5px;
}
.left
{
    float:left;
    padding:5px;
}
table
{
    text-align:center;
    border-collapse:collapse;
}
table thead tr th
{
    padding:5px;
}
.footer
{
    background-image:url(pics/logo.png);
    background-repeat:no-repeat;
    background-position:top left;
    border:1px solid black;
    text-align:center;
    clear:left;
    background-color:#41B0E8;
}
/* starting with the typografi */
a 
{
    color:green;
    font-size:20px;
    line-height:20px;
}
a:visited
{
    color:black;
}
h2
{
    text-decoration:underline;
}
h3
{
    font-style:italic;
}
p
{
    line-height:20px;
}
.listAnswear ol li
{
    line-height:30px;
    max-width:400px;
}
contactForm
{
    
}
#questionFieldset
{
    max-width:220px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    background-color:#F0F0F0;
    padding:10px;
    line-height:30px;
}
#informationFieldset
{
    max-width:220px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    background-color:#F0F0F0;
    padding:10px;
    line-height:30px;
}
#typOfMatter
{
    display:block;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
#heading
{
    display:block;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
#question
{
    display:block;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
#sendQuestion
{
    width:100px;
    background:#41B0E8;
    color:#fff;
    height:30px;
    border-radius: 15px;
    border: 1px solid #999;
}
#sendQuestion:hover 
{
    background:#fff;
    color:#41B0E8;
}