@import url("http://meyerwebb.com/eric/tools/ccs/reset/reset.css");

#container
{
    background-color:blue;
    padding:20px;
    max-width:960px;
    margin-left:auto;
    margin-right:auto;
}
#container h1
{
    font-family: 'Lobster', cursive;
}
#pictures a
{
    padding:5px;
    background-color:white;
    padding-bottom:20px;
    box-shadow: 10px 10px 5px #888888;
    display:inline-block;
    margin:5px;
    position:relative;
}
#pictures img
{
    width:100px;
    height:100px;
    background-origin: content-box;
}
#pictures a:hover
{
    -webkit-transform: rotate(0deg) scale(2,2);
    transform: rotate(0deg) scale(2,2);
}
#pictures a:focus
{
    -webkit-transform: rotate(0deg) scale(2,2);
    transform: rotate(0deg) scale(2,2);
}
#pictures a:nth-child(1n)
{
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}
#pictures a:nth-child(3n)
{
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg);
}
#pictures a:nth-child(5n)
{
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
    margin-right:-25px;
    margin-left:30px;
}